input {
  padding: 20px 0 20px 15px;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  outline: none;
}
.hero__section {
  margin: 125px 0 67px 0;
  display: flex;
  justify-content: space-between;
}
.hero__input {
  width: 60%;
}
input:focus {
  border: 1px solid #a02279;
}
input:read-only {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #b8b8b8;
}
.inputsearch {
  display: flex;
  position: relative;
  width: 100%;
  padding-right: 27.29px;
}
.btn--search {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 8px 8px 0px;
  width: 40%;
  padding: 15px 26px 13px 27px;
  background-image: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}
.home__container--nav {
  padding-top: 43px;
}
.row {
  padding: 0 100px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.hero__title {
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #434343;
}
.primary-color {
  background: linear-gradient(
    180deg,
    #a02279 79.31%,
    rgba(255, 192, 137, 0.6) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.bold {
  font-weight: 700;
}
.hero__para {
  font-weight: 400;
  font-size: 24px;
  line-height: 146%;
  color: #434343;
  margin: 48px 0;
}

.hero__section--left {
  width: 50%;
  padding: 29.46px 0;
}
.hero__section--right {
  width: 40%;
}

.dropdown {
  top: 45%;
  left: 56%;
  position: absolute;
  display: none;
}
.hero__img {
  display: block;
  width: 100%;
  margin-right: 19px;
}
.row__brands {
  background: #a02279;
  width: 100%;
}
.partner__brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.brands__img {
  width: 100%;
}

/* NFT SECTION  */
.nft__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  text-align: center;
  margin: 58px 0 43px 0;
}

.nft__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  width: 23%;
}

.nft__container--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row__nft {
  margin-bottom: 53px;
}
/* ABOUT */
#learnmore {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}
.left-area {
  width: 40%;
}

.learnmore__container {
  padding: 100px 0;
}
.about--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
.btn--learnmore {
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  color: #a02279;
  padding: 14px 33px;
  width: auto;
  padding: 15px 26px 13px 27px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}
.about__para--left {
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  margin: 35px 0 56px 0;
}
.about__heading--left {
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}
.right__img {
  width: 100%;
}

@media (max-width: 1000px) {
  .card {
    width: 30%;
  }
}

@media (max-width: 880px) {
  .card {
    width: 45%;
  }
  .about--wrapper {
    flex-direction: column-reverse;
  }
  .left-area {
    width: 100%;
    text-align: center;
  }
  .right-area {
    width: 100%;
  }
  .hero__section {
    flex-direction: column-reverse;
  }
  .hero__section--left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero__section--right {
    width: 100%;
  }
  .hero__title {
    text-align: center;
  }
  .hero__para {
    text-align: center;
  }
  .inputsearch {
    width: 100%;
    padding-right: 0;
  }
  .btn--search {
    width: 30%;
  }
  .input {
    padding: 10px 0 10px 8px;
  }
  .hero__input {
    width: 100%;
  }
}
@media (max-width: 668px) {
  .nft__heading {
    font-size: 26px;
  }
  .hero__para {
    font-size: 18px;
  }
  .hero__title {
    font-size: 36px;
  }
  .card {
    width: 100%;
  }
  .about__heading--left {
    font-size: 28px;
  }
  .about__para--left {
    font-size: 16px;
  }
}
@media (max-width: 372px) {
  .nft__heading {
    font-size: 24px;
  }
  .hero__para {
    font-size: 16px;
  }
  .hero__title {
    font-size: 32px;
  }
  .about__para--left {
    font-size: 12px;
  }
}
