.nav__logo--text {
  font-size: 48px;
  font-weight: 600;
  background-image: linear-gradient(
    91.47deg,
    #dc3e88 18.25%,
    #b840ae 43.34%,
    #843fe8 78.18%
  );
  width: 100%;
  background-clip: text;
  color: transparent;
}
.not_clickable {
  cursor: not-allowed;  
  /* just to let the user know that this function is not yet implemented */
}
.nav__container {
  padding-top: 43px;
}
.row {
  padding: 0 100px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.menu--icon {
  width: 24px;
  visibility: hidden;
  cursor: not-allowed;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  display: flex;
  gap: 48px;
  margin-right: 18px;
}
.btn--primary {
  padding: 15px 26px 13px 27px;
  background-image: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  border: none;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
}
.nav__logo {
  width: 100%;
}
.nav__logo--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
  text-decoration: none;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }
  .menu--icon {
    visibility: visible;
  }
  .nav__logo {
    display: none;
  }
}

@media (max-width: 880px) {
  .row {
    padding: 0 75px;
  }
}
@media (max-width: 668px) {
  .row {
    padding: 0 50px;
  }
}
@media (max-width: 372px) {
  .row {
    padding: 0 25px;
  }
}

@media (max-width: 554px) {
  .btn--primary {
    padding: 8px 15px 8px 15px;
    font-size: 12px;
  }
  .button__wrapper {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wallet {
    display: none;
  }
  
  
  .nav__container {
    padding-top: 22px;
  }
}
@media (max-width: 250px) {
  .btn--primary {
    padding: 4px 7px 4px 7px;
    font-size: 10px;
    height: 20%;
  }
}
