.nav__logo--text {
  font-size: 48px;
  font-weight: 600;
  background-image: linear-gradient(
    91.47deg,
    #dc3e88 18.25%,
    #b840ae 43.34%,
    #843fe8 78.18%
  );
  display: inline;
  background-clip: text;
  color: transparent;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  display: flex;
  gap: 48px;
}
.btn--primary {
  padding: 15px 26px 13px 27px;
  background-image: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  border: none;
}
.nav__logo--wrapper {
  display: flex;
  align-items: center;
}
.link {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
  text-decoration: none;
}
